# Local copies of papers I can't legally reupload
/papers/

# Generated latex files
/Report/**/*.aux
/Report/**/*.bbl
/Report/**/*.bcf
/Report/**/*.blg
/Report/**/*.log
/Report/**/*.out
/Report/**/*.pdf
/Report/**/*.run.xml
/Report/**/*.synctex.gz
/Report/**/*.toc

# Generated stuff when building the plugin
/plugin/.Makefile.plugin.generated
/plugin/.depend
/plugin/Forgetful.check_mli_exists
/plugin/Forgetful.cmi
/plugin/Forgetful.cmti
/plugin/META.frama-c-forgetful
/plugin/*.cmi
/plugin/*.cmo
/plugin/*.cmt
/plugin/*.cmx
/plugin/*.o
/plugin/top/
/plugin/config.out

# vim temp files
*.swp
/plugin/cfg.out

# C build output
*.o
*.so
*.out

# generated processed results files
processedO?.csv
/src/curl/*-times.csv

# built curl executables
/src/curl/curl-*

# testserver with huge files in it
/src/curl/testserver
